@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    min-width: 1190px;
}
/* 전체 최소 사이즈 */
.container{
    width: 1190px;
    margin: 0 auto;
    height: 100%;
    border: 1px solid black;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
/* 단위기준 가로 기준점 잡기 */
.box-whale{
    height: 49px;
    width: 100%;
    background-color: rgb(0, 203, 184);
}
/* whale광고 기준사이즈 잡기 */
.link-whale{
    display: block;
    width: 100%;
    height: 49px;
}
.icon-whale{
    display: block;
    margin-top: 9px;
    width: 110px;
    height: 30px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
    background-position: -276px -225px;
    float: left;
}
.img-banner-whale{
    display: block;
    float: left;
    margin-left: 120px;
    
}
.text-banner-whale{
    float: left;
    left: 400px;
    font-size: 13px;
    color: white;
    line-height: 49px;
    margin-left: 8px;
    height: 49px;
    letter-spacing: -0.25px;
    position: absolute;
}
.text-banner-whale>strong{
    text-decoration: underline;
}
.down-banner-whale{
    font-size: 11px;
    width: 68px;
    height: 28px;
    display: inline-block;
    background-color: rgb(255, 241, 192);
    color: rgb(0, 203, 184);
    border: none;
    margin-left: 20px;
    border-radius: 2px;
    letter-spacing: -1px;
    line-height: 28px;
}
.close-banner-whale{
    height: 49px;
    font-size: 11px;
    color: white;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border: none;
    top: 0;
    right: 0;
    line-height: 16px;
    position: absolute;
    font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
}
.close-banner-whale:after{
    width: 23px;
    height: 23px;
    display: inline-block;
    background-position: -429px -116px;
    content: '';
    margin: -5px 0 0 4px;
    vertical-align: top;
    
}
/* after쓰는 방법 */
.box-container-search{
    height: 161px;
}
/* 검색부분 기준사이즈 잡기 */
.logo{
    width: 222px;
    height: 52px;
    background-position: 0 -161px;
    display: inline-block;
    margin-top: 47px;
    font-size: 12.5px;
    margin-left: -9px;
}
.box-search{
    width: 582px;
    height: 52px;
    position: absolute;
    left: 268px;
    top: 33%;
    border: 2px solid rgb(25, 206, 96);
    line-height: 52px;
}
.text-search{
    font-size: 18px;
    width: 470px;
    height: 50px;
    font-weight: 700;
    margin: 1px;
    padding: 13px;
    box-sizing: border-box;
    line-height: 24px;
    border: none;
    float: left;
    outline: none;
}
.v-keyboard{
    width: 36px;
    height: 56px;
    right: 84px;
    position: absolute;
}
.v-keyboard-icon{
    width: 20px;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -10px;
    background-position: -400px -276px;
}
.v-keyboard-icon-msg{
    display: none;
    position: absolute;
    top: 38px;
    left: -16px;
    width: 68px;
    height: 37px;
    background-position: -161px -115px;
}
.v-keyboard:hover .v-keyboard-icon-msg{
    display: block;
}
/* .v-keyboard를 호버하면 .v-keyboard-icon-msg에서 바꾸기*/
.v-keyboard:hover .v-keyboard-icon{
    background-position: -64px -404px;
}
.auto-search{
    width: 22px;
    height: 56px;
    position: absolute;
    right: 64px;
    display: block;
}
.auto-search-icon{
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -5px;
    background-position: -429px -394px;
}
.box-search-btn{
    width: 56px;
    height: 52px;
    background-color: rgb(25, 206, 96);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    border: none;
}
.box-search-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -429px -172px;
}
.box-auto-search{
    position: absolute;
    z-index: 5;
    width: 586px;
    top: 52px;
    border: 1px solid #bec8d8;
    box-sizing: border-box;
    left: -2px;
    color: #666;
    background-color: white;
}
.box-auto-search-text{
    padding: 17px 15px 15px;
    font-size: 12px;
    line-height: 23px;
}
.box-auto-search-menu{
    height: 33px;
    background-color: #f9fafc;
    border: 1px solid #ebeef3;
    font-size: 11px;
    padding: 8px 0;
    line-height: 1.3em;
    position: relative;
    box-sizing: border-box;
}
.help{
    margin-left: 18px;
    color: black;
}
.report{
    color: rgb(25, 206, 96);
}
.auto-bar{
    color: rgb(223, 232, 235);
    margin: 0 3px;
    cursor: default;
}
.box-auto-search-off{
    border: none;
    font-size: 11px;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}
.help:hover, .report:hover, .box-auto-search-off:hover{
    text-decoration: underline;
}
.box-auto-search-on{
    display: none;
    background-color: rgb(246, 251, 247);
    border: 1px solid rgb(25, 206, 96);
    position: absolute;
    line-height: 20px;
    right: 14px;
    top: -23px;
}
.box-auto-search-on img{
    vertical-align: -1px;
}
.box-service{
    position: absolute;
    top: 12px;
    right: 27px;
}
.set-homepage{
    color: #404040;
    font-size: 11px;
}
.set-homepage:after{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -391px -225px;
    content: '';
    vertical-align: top;
}
.set-homepage:hover{
    text-decoration: underline;
}
.service-bar{
    color: rgb(223, 232, 235);
}
.link-jrnaver{
    display: inline-block;
    width: 60px;
    height: 10px;
    margin: 6px 3px 3px 3px;
    vertical-align: top;
    background-position: -348px -260px;
}
.link-jrnaver:hover{
    background-position: -214px -308px
}
.link-happybean{
    display: inline-block;
    width: 34px;
    height: 11px;
    margin: 6px 3px 3px 3px;
    vertical-align: top;
    background-position: -253px -323px;
}
.link-happybean:hover{
    background-position: -214px -323px;
}
.box-container-menu{
    height: 50px;
    border-top: 1px solid rgb(222, 226, 229);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(237, 237, 237);
}
.box-menu{
    padding: 11px 220px 11px 0;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.3px;
    height: 30px;
    box-sizing: border-box;
}
.box-menu1{
    display: inline-block;
}
.box-menu1>a{
    float: left;
    margin-left: 18px;
    color: rgb(25, 206, 96);
}
.box-menu1>a:nth-of-type(1){
    margin-left: 0;
}
.box-menu-mail{
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: top;
    background-position: -429px -227px;
    margin: 0 9px 0 0;
}
.box-menu-tv{
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 5px 2px 0 0;
    vertical-align: top;
    background-position: -458px -80px;
}
.box-menu2{
    display: inline-block;
}
.box-menu2>a{
    float: left;
    margin-left: 18px;
    color: black;
}
.menu-more{
    border: none;
    background-color: transparent;
    font-size: 13px;
    width: 70px;
    height: 20px;
    margin-left: 17px;
    margin-top: 1px;
    position: absolute;
    outline: none;
    cursor: pointer;
}
.menu-more-open{
    display: none;
    color: rgb(25, 206, 96);
    border: none;
    background-color: transparent;
    font-size: 13px;
    width: 70px;
    height: 20px;
    margin-left: 23px;
    margin-top: 1px;
    position: absolute;
    outline: none;
    cursor: pointer;
}
.menu-more:hover{
    text-decoration: underline;
}
.menu-more-icon{
    width: 11px;
    height: 7px;
    background-position: -458px -432px;
    display: inline-block;
    content: '';
    margin-left: 7px;
}
.menu-more-open:hover{
    text-decoration: underline;
}
.menu-more-open-icon{
    width: 11px;
    height: 7px;
    display: inline-block;
    content: '';
    margin-left: 7px;
    background-position: -458px -420px;
}
.set-menu-list{
    display: none;
    position: absolute;
    right: 30px;
    top: 7px;
    z-index: 10;
    width: 220px;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.all-menu-list{
    display: inline-block;
    border: 1px solid #dae1e6;
    border-radius: 15px;
    background-color: white;
    font-size: 12px;
    outline: none;
    height: 30px;
    width: 120px;
}
.set-menu{
    display: inline-block;
    border: 1px solid #dae1e6;
    border-radius: 15px;
    background-color: white;
    font-size: 12px;
    outline: none;
    height: 30px;
    width: 90px;
}
.set-menu::before{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px 5px 0 0;
    content: '';
    vertical-align: top;
    background-position: -458px -175px;
}
.menu-filter{
    font-size: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    top: 7px;
    position: absolute;
    right: 30px;
    line-height: 25px;
    cursor: pointer;
}
.menu-filter-icon1{
    margin: 8px 5px 0 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -1px;
    background-position: -39px -427px;
}
.menu-filter::after{
    display: inline-block;
    width: 14px;
    height: 9px;
    content: '';
    background-position: -389px -211px;
    margin-left: 10px;
}
.box-menu-list{
    display: none;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: white;
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.12);
}
.menu-list-table{
    width: 1128px;
    margin: 0 auto;
    table-layout: fixed;
    display: table;
    border-width: 0 1px;
    padding: 20px 30px 22px;
}
.menu-list{
    font-size: 13px;
    line-height: 26px;
    padding: 0 18px 0 19px;
    display: table-cell;
    border-left: 1px solid #e4e8eb;
}
.menu-list:nth-of-type(7){
    border-right: 1px solid #e4e8eb;
}
.menu-list>dt{
    color: black;
    margin-bottom: 3px;
}
.menu-list a{
    color: black;
}
.menu-list a:hover{
    text-decoration: underline;
}
.box-container-main{
    height: 2809px;
    display: flex;
}
.box-left-main{
    width: 750px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
}
.banner1{
    width: 750px;
    height: 135px;
    border: 1px solid rgb(222, 226, 229);
    box-sizing: border-box;
}
.banner1 a img{
    width: 750px;
    height: 135px;
}
.new1{
    width: 750px;
    height: 49px;
    background-color: rgb(247, 249, 250);
}
.box-right-main{
    padding: 20px;
    width: 350px;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    float: right;
}
.footer{
    height: 521px;
    background-color: rgb(123, 170, 218);
    border-top: 1px solid rgb(222, 226, 229);
}
.bg-44265f, .close-banner-whale:after, .set-homepage:after, .link-happybean:hover, .menu-filter::after, .set-menu::before{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}
/* 배경이미지 클래스 */
.display-none{
    display: none !important;
}
/* !important 우선순위 무시 무조건 적용 */
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.auto-icon-change{
    background-position: -361px -308px;
}
